.left-side {
  background-color: gray;
}
.right-side {
  background-color: rgb(156, 118, 118);
}

.player-img img {
  margin: 0 2px 0 2px;
  /* width: 100%; */
  /* height: auto; */
}

.selected-character, .defend-character {
  background-color: red;
  height: 10px;
}

.battle-arena {
  background-color: lightblue;
  border: 2px solid green;
  height: 400px;
}