body {
  background-color: rgb(34, 34, 34);
  font-family: 'Orbitron', sans-serif;
}
.left-side {
  background-color: gray;
}

.player-img img {
  margin: 0 2px 0 2px;
  /* width: 100%; */
  /* height: auto; */
}

.selected-character, .defend-character {
  background-color: red;
  height: 10px;
}

.battle-arena {
  background-color: gray;
  border: 2px solid burlywood;
  height: 400px;
}

.game-log {
  background-color: whitesmoke;
}